.container { 
    background-color:  rgb(231, 138, 231);
    border: solid 1px;
    text-align: center;
    border-radius: 12px;  
}


.col-2{
    background-color:  rgb(231, 138, 231);
    border: solid 1px;
    text-align: center;
    border-radius: 12px;   
}
.border {
    background-color:  rgb(231, 138, 231);
    border: solid 1px;
    text-align: center;
    border-radius: 12px;   

}